In [4]:
#Import Modules
from datapackage import Package
import pandas as pd

In [18]:
#Read annual csv files and create DataFrames
annual_files = ['2015-Annual.csv', '2016-Annual.csv', '2017-Annual.csv','2018-Annual.csv', '2019-Annual.csv']

dfs = []
for file in annual_files:
    df = pd.read_csv(file, index_col=None, header=0)
    dfs.append(df)

big_frame = pd.concat(dfs, ignore_index=True)
big_frame

,Edition,Report Type,Measure Name,State Name,Rank,Value,Score,Lower CI,Upper CI,Source,Source Year
0,2015,2015 Annual,Air Pollution,Alabama,34.0,9.5,0.00,NaN,NaN,U.S. Environmental Protection Agency; U.S. Cen...,2012-2014
1,2015,2015 Annual,Air Pollution,Alaska,4.0,6.0,-2.00,NaN,NaN,U.S. Environmental Protection Agency; U.S. Cen...,2012-2014
2,2015,2015 Annual,Air Pollution,Arizona,37.0,9.7,0.12,NaN,NaN,U.S. Environmental Protection Agency; U.S. Cen...,2012-2014
3,2015,2015 Annual,Air Pollution,Arkansas,37.0,9.7,0.12,NaN,NaN,U.S. Environmental Protection Agency; U.S. Cen...,2012-2014
4,2015,2015 Annual,Air Pollution,California,50.0,12.5,1.78,NaN,NaN,U.S. Environmental Protection Agency; U.S. Cen...,2012-2014
...,...,...,...,...,...,...,...,...,...,...,...
181517,2019,2019 Annual,Water Fluoridation,Vermont,40.0,56.3,-0.79,NaN,NaN,"CDC, Water Fluoridation Reporting System",2014
181518,2019,2019 Annual,Water Fluoridation,Washington,33.0,63.9,-0.46,NaN,NaN,"CDC, Water Fluoridation Reporting System",2014
181519,2019,2019 Annual,Water Fluoridation,Wisconsin,16.0,88.9,0.64,NaN,NaN,"CDC, Water Fluoridation Reporting System",2014
181520,2019,2019 Annual,Water Fluoridation,West Virginia,14.0,90.5,0.71,NaN,NaN,"CDC, Water Fluoridation Reporting System",2014
181521,2019,2019 Annual,Water Fluoridation,Wyoming,39.0,57.1,-0.76,NaN,NaN,"CDC, Water Fluoridation Reporting System",2014

In [27]:
#Read other csv files and create DataFrames
other_files = ['Median Household Income.csv', 'adults-with-diabetes-per-100-lghc-indicator-23.csv', 'Nutrition__Physical_Activity__and_Obesity_-_Behavioral_Risk_Factor_Surveillance_System.csv']

li = []
for file in other_files:
    df = pd.read_csv(file, index_col=None, header=0)
    li.append(df)
    
df_median_income = pd.DataFrame(li[0])
df_adults_diabetes = pd.DataFrame(li[1])
df_obesity = pd.DataFrame(li[2])

In [15]:
#IGNORAR 
data_url = 'https://datahub.io/machine-learning/diabetes/datapackage.json'

# to load Data Package into storage
package = datapackage.Package(data_url)

# to load only tabular data
resources = package.resources
for resource in resources:
    if resource.tabular:
        data = pd.read_csv(resource.descriptor['path'])
        print (data)

NameError: name 'datapackage' is not defined

In [ ]:
#Merge and clean (erase unnceseary columns) obesity and diabetes Dataframes into single DataFrame

In [ ]:
#Statistical analysis

In [ ]:
#Create maps